/* Base geral */
.query-builder {
  /*font-family: 'Segoe UI', sans-serif;*/
  color: #333;
  /*background-color: #f8f9fa;*/
  padding: 0.5rem;
  /* border-radius: 6px; */
  /* max-width: 100%; */
}

/* Remove borda vermelha do botão de deletar grupo */
/*
.ant-btn-dangerous,
.ant-btn-color-dangerous {
  border-color: transparent !important;
  box-shadow: none !important;
}
*/