.query-builder {
  margin: 0;
  padding: 0;
}

.query-builder .group-or-rule-container {
  padding-right: 0;
}

.group--children,
.group--children.hide--conjs.hide--line.one--child {
  padding-right: 10px;
}


/* Esconde o grupo de botões And/Or do QueryBuilder (Ant Design) */
/*
.query-builder .group--conjunctions {
  display: none !important;
}
*/

/* Esconde o botão "+ Add group" do QueryBuilder (Ant Design) */
.query-builder .group--actions .action--ADD-GROUP {
  display: none !important;
}

/* Arredonda todos os cantos do botão "Add action" */
.query-builder .group--actions .action--ADD-RULE.ant-btn {
  border-radius: 6px !important;
}

.query-builder .group {
  /*
  background: rgba(250, 240, 210, .5);
  border: 1px solid #dcc896;
  */
  /*
  background: rgba(255, 190, 190, 0.8);
  border: 1px solid #fcc;
  */
  /* Cinza quase branco, leve toque rosado */
  /*
  background: #f3eded;
  border: 1px solid #e0cccc;
  */
  /* Cinza rosado */
  /*
  background: #f4dddd;
  border: 1px solid #e5bdbd;
  */
  /* Cinza rosado mais escuro */
  /*
  background: #a59999;
  border: 1px solid #b4aaaa;
  */

  background: #ffe8e8;
  border: 1px solid #ffa8a8;
}