/* Base geral */
.query-builder {
  margin: 0;
  padding: 0;
  color: #000;
}

.query-builder .group-or-rule-container {
  padding-right: 0;
}

.group--children,
.group--children.hide--conjs.hide--line.one--child {
  padding-right: 10px;
}

/*
  Remove a borda vermelha dos botões de deletar (grupo e regra),
  mantendo o ícone vermelho para indicar uma ação de exclusão.
*/
.query-builder .group--actions .action--DELETE.ant-btn-dangerous,
.query-builder .rule--header .action--DELETE.ant-btn-dangerous {
  border-color: #ccc !important;
  /*border-color: rgba(128, 128, 128, 0.1) !important;*/
/*
  background-clip: padding-box;
  box-shadow: none;
  min-height: 25px;
  vertical-align: middle;
  padding-top: 0px;
*/
}

/* Estilo de hover para o botão de deletar */
.query-builder .group--actions .action--DELETE.ant-btn-dangerous:hover,
.query-builder .rule--header .action--DELETE.ant-btn-dangerous:hover {
  background-color: #fff1f0 !important; /* Vermelho suave padrão Ant Design */
  border-color: red !important;
}
